

$bg: var(--bg-color);
$text: var(--text-color);

@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }

  @return $target / $context + 0rem;
}

$base-size: 16px;

/* ---FONT SIZE--- */
$H1500: px_to_rem(150px);
$H720: px_to_rem(72px);
$H550: px_to_rem(55px);
$H480: px_to_rem(48px);
$H450: px_to_rem(45px);
$H360: px_to_rem(36px);
$H350: px_to_rem(35px);
$H330: px_to_rem(33px);
$H300: px_to_rem(30px);
$H280: px_to_rem(28px);
$H260: px_to_rem(26px);
$H240: px_to_rem(24px);
$H220: px_to_rem(22px);
$H210: px_to_rem(21px);
$H200: px_to_rem(20px);
$H90: px_to_rem(19px);
$H80: px_to_rem(18px);
$H70: px_to_rem(17px);
$H60: px_to_rem(16px);
$H50: px_to_rem(15px);
$H40: px_to_rem(14px);
$H30: px_to_rem(13px);
$H20: px_to_rem(12px);
$H10: px_to_rem(11px);
$H0: px_to_rem(10px);
$H9: px_to_rem(9px);

//fonts

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}

$black: #000;
$white: #fff;
$main_bg: #363636;
$dark_bg: #181818;
$main_color: #cb8670;